<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log-path">./logs</Property>
        <Property name="log-pattern">%d{YYYY-MM-dd HH:mm:ss} [%t] %level %logger::%M::%L %msg %n</Property>
    </Properties>
       <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log-pattern}"/>
        </Console>

        <File name="FileLogger" fileName="${log-path}/automation.log"
                     append="false">
            <PatternLayout pattern="${log-pattern}"/>

        </File>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>

        </Root>
    </Loggers>
</Configuration>
